/*Css till Vadfanskajagdricka*/

body {
	background-image: url("bild2.jpg");
	font-family: 'Open Sans', sans-serif;
	color: #ffffff;
	background-size: cover;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

}


h1{
	margin: 15% 21% 2% 30%;
	font-size: 25px;
}

#box{
	margin: 2% 21% 2% 30%;
	margin-top: 0px;
	max-width: 50%;
	line-height:1;
	color:#FFF;
	padding: 20px;
	text-align: center;
	background: rgba(0, 0, 0, 0.4);
	border-radius: 5px;
	

}

.btn, .save-btn {
	background-color:#81b71a;
	border-radius:0px;
	border:0px;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:7px 20px;
	cursor:pointer;
}

.btn:active {
	border:1px;
	border-color: black;
}

.btn:hover, .save-btn:hover {
	background-color:#497000;
}

.save-btn {
	display: block;
	margin-left: 50%;
	margin-top: 2%;
	font-size: 13px;
	padding: 5px 10px;
	border-radius: 3px;
}

.se-saved {
	background-color:#81b71a;
	color:#ffffff;
	border-radius: 0px;
	border:0px;
	font-family:Arial;
	font-size:19px;
	padding:7px 20px;
	cursor:pointer;
}

.se-saved:active {
	border:1px;
	border-color: black;
}

.se-saved:hover {
	background-color:#497000;
}

a {
	color:#fff;
	float:right;
	text-decoration: none;
	
}

a:hover {
	color:#000;
}

#saved{
	margin-top:1px;
	margin-right: 2px;
	position: absolute;
	top:0;
	right:0;
}

#input{
	font-size: 21px;
	width:180px;
	padding-bottom: 5px;
}

#icon, #icon2,#icon3,#icon4,#icon5,#icon6,#icon7,#icon8,#icon9{
	display: none;
	margin-left: 45%;
	margin-top: 2%;
}

#drink {
	margin-top: 1%;
}

img{
	width:20%;
	height:20%;
}


@media screen and (max-width:479px) {
    /*
        Egenskaper för mobiler
      */
	body{
		max-width: 479px;
		margin: 0px;
	
	}

	#box{
		width:100%;
		max-width: 90%;
		min-height: 300px;
		margin: 0px;
		float:left;
		

	}
	#box p{
		padding: 10px;
		font-size: 20px;

	}
	h1{
		width:100%;
		margin: 10% 0%;
	}



}      

@media screen and (max-width:768px) {

	#box{
		margin-left:16%;
		min-width:500px;
		width:130%;
		min-height: 300px;

	}

}
